* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  font-size: 2.5em;
  animation: App-logo-color infinite 7s linear;
  font-family: 'Oswald', sans-serif;
  height: 20px;
}

header {
  line-height: 1.2em;
  background-color: #222;
  padding: 20px;
  color: white;
  margin: 0 auto;
}

.App-title {
  font-size: 1.3em;
  font-family: 'Roboto Slab', serif;
}

nav {
  font-family: 'Roboto Slab', serif;
}

.App-intro {
  font-size: large;
  font-family: 'Roboto Slab', serif;
}

main {
  font-family: 'Roboto Slab', serif;
}

.fa-bars {
  display: none;
}

a {
  font-size: 1.2em;
  text-decoration-line: none;
  font-weight: 700;
  color: hsl(210, 100%, 70%);
}

@keyframes App-logo-color {
  from { color: hsl(0, 100%, 50%); }
  to { color: hsl(210, 100%, 70%); }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 7px;
}

a:hover, a:focus {
  color: hsl(0, 100%, 50%);
}

section {
  min-height: 300px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px;
}

section:nth-child(even) {
  background-color: lightslategray;
}

.step {
  text-decoration-line: underline;
  font-weight: 600;
}

.lightSkintones, .darkSkintones {
  width: 300px;
}

.lightSkintones {
  transform: rotate(180deg);
}

.modernClothes, .colorWheel {
  margin-top: 1.2em;
  height: 200px;
  width: 250px;
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
}

img {
  width: 200px;
  height: 100px;
}

@media (max-width: 500px) {
  .App-logo {
    font-size: 2em;
  }

  .topNav, .topNavLogOut {
    display: none;
  }

  .fa-bars {
    display: inline;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 25px;
    padding-left: 25px;
    font-size: 1.5em;
  }
}