.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-color infinite 7s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin: 0 auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-color {
  from { color: hsl(0, 100%, 50%); }
  to { color: hsl(210, 100%, 70%); }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 5px;
}
